.navbar-light .navbar-brand {
  color: black;
  font-size: 1grem;
  font-weight: bold;
}
.navbar {
  background-color: red;
}
.btn {
  border: 2px solid black;
  border-radius: 10px;
}
.container-fluid {
  background-color: red;
}
.container-fluid2 {
  background-color: antiquewhite;
}
.col-sm {
  border: 1px solid gray;
  border-radius: 2%;
}
.heading {
  background-color: azure;
}
.cont {
  background-color: azure;
}
.head {
  background-color: rgb(255, 102, 0);
}
